*{
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: #bbbfca;
  padding: 50px;
}

input{
  color: #495464;
  font-size: 1.2rem;
  width: 100%;
}

.cardGrid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 2px;
  overflow: hidden;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img{
  max-height: 170px;
}
.loading{
  font-size: 50px;
}